<ion-header *ngIf="localUser != null && localUser?.role_id !== 1">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" class="filters-btn" (click)="getDataSummaryForDashboard()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-home">
 
  <!-- Segment buttons with text and click listeners -->
<ion-segment mode="md" class="stats-segment" (ionChange)="segmentButtonClicked($event)">
  <ion-segment-button value="total" checked="true">
    <ion-label>Total Summary</ion-label>
  </ion-segment-button>
  <ion-segment-button value="today">
    <ion-label>Today</ion-label>
  </ion-segment-button>
  <ion-segment-button value="monthly">
    <ion-label>This Month</ion-label>
  </ion-segment-button>
</ion-segment>

 <!------- Today View ------->
 <ion-grid style="height: 100%" *ngIf="tabChoice=='today'">
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <ion-spinner name="bubbles" style="width:32px;height:32px;margin:0 auto;stroke:#222;fill:#444;text-align: center;"></ion-spinner>
    <h4 style="text-align: center;color: #555555;">TODAY'S VIEW</h4>
    <h5 style="text-align: center;color: #555555;">Coming Soon</h5>
    </ion-row>
  </ion-grid>
 <!------- Today View ------->

 <!------- Monthly View ------->
 <ion-grid style="height: 100%" *ngIf="tabChoice=='monthly'">
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <ion-spinner name="bubbles" style="width:32px;height:32px;margin:0 auto;stroke:#222;fill:#444;text-align: center;"></ion-spinner>
    <h4 style="text-align: center;color: #555555;">MONTHLY VIEW</h4>
    <h5 style="text-align: center;color: #555555;">Coming Soon</h5>
    </ion-row>
  </ion-grid>
 <!------- Monthly View ------->

 <div *ngIf="tabChoice=='total'">
  <ion-grid *ngIf="dashboardSummaryList?.length > 0">
    <ion-row class="related-deal">
    <ion-col size-sm="12" size-md="12" size-lg="6" size="12" *ngFor="let items of dashboardSummaryList">
   
      <ion-card text-center padding [routerLink]="[items.link]">
        <ion-row>
          <ion-col size="3" align-self-start style="vertical-align:middle;">
            <ion-icon src="{{items.icon_src}}" class="dashicon" style="color:white;"></ion-icon>
          </ion-col>
          <ion-col align-self-end style="text-align:right;">
            <h1>{{items.value}}</h1>
            <h5 class="related-deal-title" style="margin-bottom:2px;">
              {{items.title}}
            </h5>
            <p *ngIf="items.info" style="margin-top:0px;">
              {{items.info}}
          </p>
          </ion-col>
        </ion-row>
  </ion-card> 
    </ion-col>
    </ion-row>
  </ion-grid>
</div>


  
</ion-content>