<form class="update-user-form ion-page" [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Update Profile</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content class="update-user-content">
    <ion-row class="select-user-image-row">
      <ion-col class="user-image-col" size="4">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell [mode]="'cover'" class="user-image" animation="spinner" [src]="user?.user_image" [alt]="'user image'"></app-image-shell>
        </app-aspect-ratio>
        <ion-button class="change-image-btn" color="primary" (click)="fileInput.click()" *ngIf="!user?.user_image">
          <ion-icon class="btn-icon" slot="icon-only" name="camera"></ion-icon>
        </ion-button>
        <ion-button class="change-image-btn" color="danger" (click)="removeFile()" *ngIf="user?.user_image">
          <ion-icon class="btn-icon" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <section class="user-details-fields fields-section">
      <ion-list class="inputs-list" lines="full">

        <div class="form-group" style="display: none;">
          <input type="file" accept="image/*" (change)="uploadFile($event)" #fileInput>
        </div>

        <ion-item class="input-item">
          <ion-label color="primary" position="floating">First Name</ion-label>
          <ion-input type="text" formControlName="first_name" required></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.first_name">
            <div class="error-message" *ngIf="updateUserForm.get('first_name').hasError(validation.type) && (updateUserForm.get('first_name').dirty || updateUserForm.get('first_name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Last Name</ion-label>
          <ion-input type="text" formControlName="last_name"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.last_name">
            <div class="error-message" *ngIf="updateUserForm.get('last_name').hasError(validation.type) && (updateUserForm.get('last_name').dirty || updateUserForm.get('last_name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Date of Birth</ion-label>
          <ion-datetime [max]="maxDOBYear" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" formControlName="dob"></ion-datetime>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Mobile number</ion-label>
          <ion-input type="tel" formControlName="mobile" required></ion-input>
        </ion-item>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.mobile">
            <div class="error-message" *ngIf="updateUserForm.get('mobile').hasError(validation.type) && (updateUserForm.get('mobile').dirty || updateUserForm.get('mobile').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required readonly></ion-input>
        </ion-item>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.email">
            <div class="error-message" *ngIf="updateUserForm.get('email').hasError(validation.type) && (updateUserForm.get('email').dirty || updateUserForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item" style="display: none;">
          <ion-label color="primary" position="floating">Username</ion-label>
          <ion-input type="text" formControlName="user_name" readonly></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Country</ion-label>
          <ion-input type="text" formControlName="country" (click)="openSelectCountry()" readonly></ion-input>
        </ion-item>

        <!-- <ion-button class="delete-btn" (click)="openSelectCountry()" expand="block" color="primary" fill="outline">CHOOSE COUNTRY</ion-button> -->

        <ion-item class="input-item" *ngIf="moderateMode">
          <ion-label position="floating">Select Status</ion-label>
          <ion-select formControlName="status" cancelText="Cancel" okText="OK">
            <ion-select-option *ngFor="let item of user_status" [value]="item" >{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-input *ngIf="!moderateMode" type="hidden" formControlName="status"></ion-input>



        <ion-input type="hidden" formControlName="city"></ion-input>
        <ion-input type="hidden" formControlName="address"></ion-input>
        <ion-input type="hidden" formControlName="latitude"></ion-input>
        <ion-input type="hidden" formControlName="longitude"></ion-input>
        <ion-input type="hidden" formControlName="user_id"></ion-input>
        
        <div color="primary" class="ion-padding" *ngIf="appSettings && appSettings.debugMode">
          <p>Debug Mode ON: {{user|json}}</p>
        </div>

      </ion-list>
    </section>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button class="delete-btn" expand="block" color="primary" fill="outline" (click)="deleteUser()">DELETE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="submit-btn" expand="block" color="primary" type="submit" fill="solid" [disabled]="!updateUserForm.valid">UPDATE</ion-button>
      </ion-col>
    </ion-row>

  </ion-footer>
</form>
