<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">

      <ion-button fill="clear" color="light" class="filters-btn" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Select Currency</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" class="filters-btn" (click)="loadItems()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>

      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar class="items-searchbar" animated mode="ios" [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="Search document types"></ion-searchbar>
      </ion-col>
    </ion-row>
    </ion-toolbar>

</ion-header>

<ion-content class="firebase-listing-content">
 <!------- Loading View ------->
 <ion-grid style="height: 100%" *ngIf="loading">
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <ion-spinner name="bubbles" style="width:32px;height:32px;margin:0 auto;stroke:#222;fill:#444;text-align: center;"></ion-spinner>
    <h5 style="text-align: center;columns: #555555;">Loading Currencies...</h5>
    </ion-row>
  </ion-grid>
 <!------- Loading View ------->

   <!------- Empty View ------->
   <ion-grid style="height: 100%" *ngIf="listing?.length <= 0 && !loading">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      
      <ion-icon src="./assets/sample-icons/side-menu/money.svg" style="display:block;width:48px;height:48px;color:#444"></ion-icon>
      <h5 style="text-align: center;color: #555555;">No Currency Found</h5>
      </ion-row>
    </ion-grid>
   <!------- Empty View ------->

      <ion-list class="items-list" *ngIf="listing?.length > 0 && !loading">     
        <ion-item class="list-item" *ngFor="let item of listing" tappable (click)="dismissModal(item)">
   
          <ion-row class="user-row">
            <ion-col class="user-data-wrapper">
              <div class="user-info">
                <h3 class="user-name">
                  <app-text-shell animation="bouncing" [data]="item?.currency"></app-text-shell>
                </h3>
    
              </div>
            </ion-col>
          </ion-row>
     

  </ion-item>
     </ion-list>
</ion-content>
