:host {
    --page-margin: var(--app-broad-margin);
    --detail-sections-margin: var(--app-fair-margin);
    --page-background: var(--app-background-shade);
  }

  .firebase-listing-content{
    background-color: var(--ion-color-danger);
    
  }