<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Not Authorized
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding style="background-color: lavender;">
  <!-- <div class="illustration-wrapper" style="width:70%;max-width:200px;margin:0 auto;text-align: center;">
    <app-aspect-ratio [ratio]="{w: 1, h: 1}">
      <app-image-shell [src]="'./assets/images/unauthorized.png'" [alt]="'UnAuthorized'"></app-image-shell>
    </app-aspect-ratio>
  </div>
  <div class="not-found-title" style="color: brown;margin-top: 20px;">Access Denied</div>
  <div class="not-found-text" style="color: brown;">Looks like you are not authorized to access this content.</div> -->


  <!------- Empty View ------->
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;margin:0 auto;text-align: center;">
      <app-image-shell style="width:180px;height:180px;" [src]="'./assets/images/unauthorized.png'" [alt]="'UnAuthorized'"></app-image-shell>

      <h2 style="color: #555555;margin-top: 20px;text-align: center;">ACCESS DENIED</h2>
  <h5 style="color: #666666;margin-top:12px;text-align: center;">Looks like you are not authorized to access this content.</h5>
      </ion-row>
    </ion-grid>
   <!------- Empty View ------->

</ion-content>

<ion-footer>
  <div style="margin:15px;">
    <ion-button class="go-home-btn" [routerLink]="['/dashboard']" expand="block" fill="solid">My Dashboard</ion-button>
    
    <ion-button style ="margin-top:8px;" class="go-home-btn" (click)="backClicked()" expand="block" fill="outline">Back</ion-button>
  </div>
</ion-footer>
