<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form class="create-user-form ion-page" [formGroup]="createUserForm" (ngSubmit)="createUser()">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Register Company</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="create-user-content">
    <ion-row class="expiration-countdown" *ngIf="userData && !userData.logo">
      <span class="expiration-lead">Upload the company logo.</span>
    </ion-row>

    <ion-row class="select-user-image-row">
      <ion-col class="user-image-col" size="4">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell [mode]="'cover'" class="user-image" [src]="preview" [alt]="'Company Logo'"></app-image-shell>
        </app-aspect-ratio>
        <ion-button class="change-image-btn" color="primary" (click)="fileInput.click()">
          <ion-icon class="btn-icon" slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <section class="user-details-fields fields-section">
      <ion-list class="inputs-list" lines="full">

        <!-- Progress Bar -->
  <div class="progress form-group" *ngIf="percentDone">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
      [style.width.%]="percentDone">
    </div>
  </div>

  <!-- File Input -->
  <div class="form-group" style="display:none;">
    <input type="file" accept=".png, .jpg, .jpeg" (change)="uploadFile($event)" #fileInput>
  </div>


        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Company Name *</ion-label>
          <ion-input type="text" formControlName="title" required></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.title">
            <div class="error-message" *ngIf="createUserForm.get('title').hasError(validation.type) && (createUserForm.get('title').dirty || createUserForm.get('title').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Short Tagline *</ion-label>
          <ion-input type="text" formControlName="tagline" required></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.tagline">
            <div class="error-message" *ngIf="createUserForm.get('tagline').hasError(validation.type) && (createUserForm.get('tagline').dirty || createUserForm.get('tagline').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
       
        <ion-item class="input-item">
          <ion-label color="primary" position="floating">Description *</ion-label>
          <ion-textarea rows="3" formControlName="description" required></ion-textarea>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.description">
            <div class="error-message" *ngIf="createUserForm.get('description').hasError(validation.type) && (createUserForm.get('description').dirty || createUserForm.get('description').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <!--------- Start of social links -------->
        <ion-item class="input-item">
          <ion-label class="toggle-label">{{websiteInfo}}</ion-label>
          <ion-toggle color="primary" (ionChange)="onWebsiteOptionSelected($event)" checked></ion-toggle>
        </ion-item>

        <ion-item class="input-item"  *ngIf="hasWebsite">
          <ion-label color="primary" position="floating">Website</ion-label>
          <ion-input type="url" formControlName="website"></ion-input>
        </ion-item>
        <ion-input *ngIf="!hasWebsite" type="hidden" formControlName="website" value=""></ion-input>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.website">
            <div class="error-message" *ngIf="createUserForm.get('website').hasError(validation.type) && (createUserForm.get('website').dirty || createUserForm.get('website').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>


        <ion-item class="input-item">
          <ion-label class="toggle-label">{{linkedInInfo}}</ion-label>
          <ion-toggle color="primary" (ionChange)="onLinkedInOptionSelected($event)" checked></ion-toggle>
        </ion-item>

        <ion-item class="input-item" *ngIf="hasLinkedIn">
          <ion-label color="primary" position="floating">LinkedIn URL</ion-label>
          <ion-input type="url" formControlName="linkedin"></ion-input>
        </ion-item>
        <ion-input *ngIf="!hasLinkedIn" type="hidden" formControlName="linkedin" value=""></ion-input>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.linkedin">
            <div class="error-message" *ngIf="createUserForm.get('linkedin').hasError(validation.type) && (createUserForm.get('linkedin').dirty || createUserForm.get('linkedin').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>


        
        <ion-item class="input-item">
          <ion-label class="toggle-label">{{fbPageInfo}}</ion-label>
          <ion-toggle color="primary" (ionChange)="onFacebookOptionSelected($event)" checked></ion-toggle>
        </ion-item>
        <ion-item class="input-item" *ngIf="hasFbPage">
          <ion-label color="primary" position="floating">Facebook Page URL</ion-label>
          <ion-input type="url" formControlName="fb_link"></ion-input>
        </ion-item>
        <ion-input *ngIf="!hasFbPage" type="hidden" formControlName="fb_link" value=""></ion-input>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.fb_link">
            <div class="error-message" *ngIf="createUserForm.get('fb_link').hasError(validation.type) && (createUserForm.get('fb_link').dirty || createUserForm.get('fb_link').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        
        <ion-item class="input-item">
          <ion-label class="toggle-label">{{twitterInfo}}</ion-label>
          <ion-toggle color="primary" (ionChange)="onTwitterOptionSelected($event)" checked></ion-toggle>
        </ion-item>

        <ion-item class="input-item" *ngIf="hasTwitter">
          <ion-label color="primary" position="floating">Twitter URL</ion-label>
          <ion-input type="url" formControlName="twitter_link"></ion-input>
        </ion-item>
        <ion-input *ngIf="!hasTwitter" type="hidden" formControlName="twitter_link" value=""></ion-input>

        <div class="error-container">
          <ng-container *ngFor="let validation of validations.twitter_link">
            <div class="error-message" *ngIf="createUserForm.get('twitter_link').hasError(validation.type) && (createUserForm.get('twitter_link').dirty || createUserForm.get('twitter_link').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

<!-----------End of Social Links --------->


        <ion-input type="hidden" formControlName="user_id" required></ion-input>

      </ion-list>
    </section>

    <section class="user-experience-fields fields-section">
      <h5 class="section-header">Select Related Job Areas</h5>
      <ion-row class="checkbox-tags rounded-checkbox-tags">
        <ion-item formArrayName="jobAreas" lines="none" class="checkbox-tag rounded-tag" *ngFor="let skill of skillsFormArray.controls; let i = index;">
          <ion-label class="tag-label">{{jobAreas[i].title}}</ion-label>
          <ion-checkbox [formControlName]="i" (change)="getSelectedJobAreasCount()"></ion-checkbox>
        </ion-item>
      </ion-row>
    </section>
  </ion-content>

  <ion-footer>
    <ion-row class="expiration-countdown" *ngIf="errorMsg">
      <span class="expiration-lead">{{errorMsg}}Select suitable job areas related to your company.</span>
    </ion-row>

    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button class="submit-btn" expand="block" color="primary" type="submit" fill="solid" [disabled]="!createUserForm.valid">REGISTER COMPANY</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
