<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="companies/listing"></ion-back-button>
    </ion-buttons>
    <ion-title>Company Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openItemUpdateModal()" *ngIf="localUser?.role_id == 1 || selfView">
        Edit
      </ion-button>
      <ion-button fill="clear" color="light" class="filters-btn" (click)="favouriteCompany()" *ngIf="localUser?.role_id !== 1 || !selfView">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">
  <!------ Top Header Main ---->
  <div class="recipes-wrapper">
    <div class="recipes-list">
      <div class="recipe-item">

        <!----- SECTION 1: BASIC ITEM DETAILS ----->
        <app-image-shell class="recipe-cover-image" [mode]="'cover'" [src]="'./assets/images/bg.jpg'">
          <app-aspect-ratio [ratio]="{w:12, h:2}">
          </app-aspect-ratio>
        </app-image-shell>

        <div class="chef-picture-wrapper">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell style="background-color: white;border-radius: 10px;padding:5px;" class="chef-picture-image" [src]="user?.logo" [alt]="'Company Image'"></app-image-shell>
          </app-aspect-ratio>
        </div>
     
        <div class="recipe-call-to-action">
         
          <h3 class="recipe-name" style="margin-top:2px;margin-bottom:2px;">
            <app-text-shell [data]="user?.title"></app-text-shell>
          </h3>

          <h5 class="user-author" *ngIf="user?.tagline" style="font-size:13px;margin-top:2px;margin-bottom:5px;">
            <app-text-shell animation="bouncing" [data]="user?.tagline"></app-text-shell>
          </h5>

         
          <!----- SECTION 3: LIST JOB SKILLS ----->
  <ion-row class="details-tags" style="margin-top:5px;" *ngIf="user?.jobAreas.length > 0">
    <ion-col class="tag-wrapper" *ngFor="let tag of user?.jobAreas">
      <span class="item-tag">
        <app-text-shell [data]="tag.title"></app-text-shell>
      </span>
    </ion-col>
  </ion-row>
<!----- SECTION 3: LIST JOB SKILLS ----->
    

<hr class="details-divider">
<h5 class="user-name" style="font-size:15px;line-height:17px;margin-top: 5px;border-bottom: 1 px solid #777;">
<app-text-shell animation="bouncing" [data]="user?.description"></app-text-shell>
</h5>

          <a class="user-name" *ngIf="user?.website" style="color:blue;font-size:14px;font-weight: bold;text-decoration: solid;"
          [href]="'http://'+user?.website" target="_blank">
            <p> <app-text-shell animation="bouncing" [data]="user?.website"></app-text-shell></p>
          </a>
             
        </div>
<!----- SECTION 1: BASIC ITEM DETAILS ----->

  <ion-row style="justify-content: center;align-content: center;text-align: center;">
    <ion-col size="12" style="justify-content: center;justify-content: center;">
      <a *ngIf="user?.linkedin" style="text-align: center;text-decoration: solid;" class="go-home-btn" [href]="'https://'+user?.linkedin" target="_blank"> 
        <ion-button fill="solid" color="primary">
          <ion-icon src="./assets/sample-icons/side-menu/linkedin.svg"></ion-icon> &nbsp;&nbsp;LinkedIn
        </ion-button>
      </a>
      
      <a *ngIf="user?.fb_link" style="text-align: center;text-decoration: solid;justify-content: center;" class="go-home-btn" [href]="'https://'+user?.fb_link" target="_blank"> 
        <ion-button  fill="solid" color="facebook">
          <ion-icon src="./assets/sample-icons/side-menu/facebook.svg"></ion-icon> &nbsp;&nbsp;Facebook
        </ion-button>
      </a>
      
      <a *ngIf="user?.twitter_link" style="text-align: center;text-decoration: solid;justify-content: center;" class="go-home-btn" [href]="'https://'+user?.twitter_link" target="_blank"> 
        <ion-button fill="solid" color="twitter">
          <ion-icon src="./assets/sample-icons/side-menu/twitter.svg"></ion-icon> &nbsp;&nbsp;Twitter
        </ion-button>
      </a>
    </ion-col>
    </ion-row>


      </div>
    </div>
  </div>

</ion-content>
